@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&family=Raleway&display=swap");

.container {
  padding: 0 4rem;
  background-color: #131b40;
}
/* Hero */
.navIcon {
  color: #131b40;
}
.navContainer {
  display: flex;
  justify-content: right;
  width: 100%;
}
.navLink {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: underline #7ed957;
}
.navLink:hover {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: underline #fff;
  color: #7ed957;
}
.navLink:nth-of-type(5) {
  margin: 0;
}
.main {
  flex: 1;
}
.heroContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 90vh;
}
.heroTextContainer {
  display: grid;
  place-content: center;
}
.heroTextGroup {
  align-self: start;
}
.heroText {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 4rem;
}
.heroSubText {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 3rem;
}
.spanColor {
  color: #7ed957;
}
.heroButtonDiv {
  display: grid;
  place-content: center;
}
.heroButton {
  margin-top: 2rem;
  border-width: 0.5rem;
  font-weight: bold;
  color: #fff;
  border-color: #7ed957;
}
.heroButton:hover {
  border-color: #fff;
  color: #fff;
  border-width: 0.5rem;
  font-weight: bold;
  color: #7ed957;
}
.buttonFont {
  font-family: "Raleway", sans-serif;
}
.vizContainer {
  display: grid;
  place-content: center;
}
.viz {
  height: 100%;
  width: 100%;
}
/* About */
.aboutContainer {
  padding-top: 2rem;
}
.aboutDiv {
  display: grid;
  place-content: center;
  padding: 0 2rem;
}
.aboutText {
}
.sectionHeader {
  color: #7ed957;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.bgDiv {
  background-color: #fff;
  min-height: 300;
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem 0.75rem;
}
/* Skills */
.skillsDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.dataDiv {
  display: grid;
}
.dataIconDiv {
  justify-self: center;
  background-color: #131b40;
  padding: 0.75rem;
  border-radius: 100%;
}
.webIconDiv {
  justify-self: center;
  background-color: #7ed957;
  padding: 0.75rem;
  border-radius: 100%;
}
.dataIcon {
  font-size: 4rem;
  color: #7ed957;
}
.webIcon {
  font-size: 4rem;
  color: #131b40;
}
/* Projects */
.MuiTabs-indicator {
  background-color: #7ed957;
}
.tab {
  color: black;
}
.projectPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.webButton {
  background-color: #131b40;
  color: #fff;
}
.webButton:hover {
  background-color: #7ed957;
}
.gitButton {
  color: #131b40;
  border-color: #131b40;
}
/* Contact */
.contactDiv {
  display: flex;
  justify-content: center;
}
.contactIcons {
  color: #fff;
  font-size: 4rem;
  margin-left: 1rem;
}
.contactText {
  color: white;
  font-size: 1.5rem;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #fff;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  /* hero */
  .navLink {
    font-size: 1.3rem;
  }
  .heroContainer {
    display: grid;
  }
  .heroTextContainer {
    margin-top: 2rem;
  }
  .heroText {
    font-size: 3.5rem;
  }
  .heroSubText {
    font-size: 2.5rem;
  }
  /* skills */
  .skillsDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* Projects */
  .projectPanel {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  /* hero */
  .heroContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .heroText {
    font-size: 3rem;
  }
  .heroSubText {
    font-size: 2rem;
  }
  /* skills */
  .dataIcon {
    font-size: 3rem;
  }
  .webIcon {
    font-size: 3rem;
  }
  /* Projects */
  .projectPanel {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 2.5rem;
  }
  /* hero */
  .navLink {
    font-size: 1rem;
  }
  .heroContainer {
    grid-template-columns: 100%;
  }
  .heroText {
    font-size: 3rem;
  }
  .heroSubText {
    font-size: 2rem;
  }
  .navContainer {
    visibility: hidden;
  }
  /* skills */
  .dataIcon {
    font-size: 2rem;
  }
  .webIcon {
    font-size: 2rem;
  }
  /* Projects */
  .projectPanel {
    grid-template-columns: repeat(1, 1fr);
  }
}
